$blue: #0d6efd;
$lightBlue: #498dfa;
$darkBlue: #0737a8;
$red: rgb(190, 63, 63);
$lightRed: rgb(223, 77, 77);
$darkRed: rgb(155, 5, 5);

.mr30{
   margin-right: 30px;
}
.mb30{
   margin-bottom: 30px;
}
.mb10{
   margin-bottom: 10px;
}
.textHuge{
   font-size: 1.1em;
}
.textBig{
   font-weight: bold;
   font-size: 2.3em;
}



