@import "_generalProperties";

form{
   .labelTitle{
      margin-bottom: 12px;
      color: $blue;
      font-size: 1.5em;
      font-weight: 600;
   }

   button.submit{
      padding: 12px 25px;
      margin-top: 40px;
      float: right;
      font-size: 1.15em;
      font-weight: bold;

      &:hover{
         background-color: rgba(26, 100, 219, 0.774);
      }
      &:active{
         background-color: rgba(4, 68, 153, 0.644);
      }
   }

   .tagsError{
      margin-top: 5px;
      color: red;
      border-radius: 4px;
      border-bottom: 1px solid red;
      padding: 2px 4px;
   }
}

